$transition: all 0.3s ease;
$cubic-bezier: cubic-bezier(0.77, 0.2, 0.05, 1);
$nav-bg-color: #333645;
$nav-li-bg-color: #2c2e39;
$main-white: #f0ebea;
$rctv-green: #405c5e;
$rctv-gold: #c09243;
$success: #4bb543;
$main-font: "Montserrat";
$secondary-font: "Roboto";

$modal-border-radius: 20px;
